apt-clone==0.2.1
apt-xapian-index==0.47
apturl==0.5.2
astroid==2.4.2
attrs==19.3.0
beautifulsoup4==4.9.0
blinker==1.3
Brlapi==0.6.4
cffi==1.14.0
chardet==2.3.0
command-not-found==0.3
cryptography==2.8
cssselect==1.1.0
decorator==4.0.6
defer==1.0.6
dirspec==13.10
Django==2.0.1
fake-useragent==0.1.11
httplib2==0.9.1
idna==2.0
ipython==2.4.1
isort==4.3.21
keyboard==0.13.5
lazy-object-proxy==1.4.3
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
mccabe==0.6.1
numpy==1.18.4
oauthlib==1.0.3
onboard==1.2.0
oneconf==0.3.9
pandas==0.24.2
parsel==1.5.2
pexpect==4.0.1
Pillow==3.1.2
piston-mini-client==0.7.5
Protego==0.1.16
psutil==3.4.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0
PyDispatcher==2.0.5
pygobject==3.20.0
PyICU==1.9.2
PyJWT==1.3.0
pylint==2.6.0
pyOpenSSL==19.1.0
pyperclip==1.8.0
python-apt==1.1.0b1+ubuntu0.16.4.9
python-dateutil==2.8.1
python-debian==0.1.27
python-decouple==3.3
python-xapp==1.0.0
pytz==2020.1
pyxdg==0.25
queuelib==1.5.0
reportlab==3.3.0
requests==2.9.1
Scrapy==2.0.1
selenium==3.141.0
service-identity==18.1.0
sessioninstaller==0.0.0
setproctitle==1.1.8
simplegeneric==0.8.1
six==1.15.0
soupsieve==2.0
sqlparse==0.3.1
system-service==0.3
thin-client-config-agent==0.8
toml==0.10.1
tqdm==4.43.0
typed-ast==1.4.1
ubuntu-drivers-common==0.0.0
ufw==0.35
urllib3==1.13.1
virtkey==0.63.0
virtualenv==15.0.1
w3lib==1.21.0
wrapt==1.12.1
xkit==0.0.0
zope.interface==5.0.2
