{% extends 'base.html'%}

{% block title%}Confirm{% endblock %}

{% block main %}
    <h1>Tem certeza que deseja deletar {{ person.first_name }}</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- o botão delete abaixo submete uma requisição tipo POST
        para a view 'persons_delete'-->
        <button type="submit" class="btn btn-danger">Deletar</button>
        <a href="{% url 'persons_update' person.id %}">Cancelar</a>

    </form>
{% endblock %}